.u-section-1 .u-sheet-1 {
  min-height: 1241px;
}

.u-section-1 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/aura-5338110__340.jpg");
  background-position: 50% 50%;
  margin: 133px 97px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/relaxation-5363697__340.png");
  background-position: 50% 50%;
  margin: -596px auto 0 75px;
}

.u-section-1 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/99616268-0.jpeg");
  background-position: 50% 50%;
  margin: 50px auto 0 181px;
}

.u-section-1 .u-group-1 {
  width: 509px;
  min-height: 375px;
  margin: -69px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: none;
  font-family: "Playfair Display", serif;
  margin: 27px 0 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 173px;
  height: 173px;
  background-image: none;
  margin: -1129px 14px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 228px;
    margin-left: 215px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -773px;
    margin-left: 27px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1495px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 54px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -1410px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1315px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: 96px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -685px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 151px;
  }

  .u-section-1 .u-group-1 {
    min-height: 232px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -1180px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 107px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -616px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 146px;
    margin-top: -20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -900px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 612px;
}

.u-section-2 .u-shape-1 {
  height: 290px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -186px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 418px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 22px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 22px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 22px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px 24px;
}

.u-section-2 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 22px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 520px;
  }

  .u-section-2 .u-shape-1 {
    height: 266px;
    margin-top: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 344px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 934px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 774px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 936px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 795px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1242px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  min-height: 996px;
}

.u-section-3 .u-shape-1 {
  background-image: none;
  height: 475px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 808px;
  height: 808px;
  object-position: 2.6% 50%;
  background-position: 50% 50%;
  background-image: url("images/Photo_1652797920783.jpg");
  margin: -430px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-group-1 {
  width: 503px;
  min-height: 521px;
  background-image: none;
  margin: -537px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: normal;
  font-weight: 700;
  text-transform: none;
  font-family: "Playfair Display", serif;
  margin: 3px auto 0 1px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  margin: 47px 1px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 400;
  margin: 38px auto 0 1px;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1210px;
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-group-1 {
    margin-top: -234px;
    margin-left: calc(((100% - 940px) / 2) + -33px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1234px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-top: -437px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: -54px;
    margin-left: auto;
    margin-bottom: 9px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 869px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -475px;
  }

  .u-section-3 .u-group-1 {
    min-height: 447px;
    margin-top: -118px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 26px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 859px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 82px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 897px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-4 .u-image-1 {
  min-height: 757px;
  background-image: url("images/99616268-01.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 757px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-4 .u-image-2 {
  width: 325px;
  height: 325px;
  background-image: url("images/8f2d6e307d63e2bc83c91d602570a82596311e5def313274a074536ab9f63c5bda457a216022c1e33091fc6c412b529612aec98c24bbdc405c8847_1280.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  letter-spacing: normal;
  font-weight: 400;
  text-transform: none;
  margin: 33px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 400;
  margin: 20px auto 0;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-4 .u-image-1 {
    min-height: 624px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-4 .u-image-2 {
    width: 310px;
    height: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-4 .u-image-1 {
    min-height: 478px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 644px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    width: 238px;
    height: 238px;
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-4 .u-image-1 {
    min-height: 717px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-4 .u-image-1 {
    min-height: 451px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 761px;
}

.u-section-5 .u-shape-1 {
  height: 365px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -304px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 671px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 486px;
  height: 486px;
  background-image: url("images/b36d208167bb1bd01efcf56596471bb0a643936ae6a97f5a1650688d26eeffacac6f25c725f8addb5f4dace259fd965a673d9eda7a77652a51afca_1280.jpg");
  background-position: 50% 50%;
  margin: 47px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 671px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-line-1 {
  height: 67px;
  top: 79px;
  transform-origin: center top;
  position: absolute;
  width: 2px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
  margin: 157px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 643px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-5 .u-image-1 {
    width: 395px;
    height: 395px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 136px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 515px;
  }

  .u-section-5 .u-shape-1 {
    height: 297px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -236px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-5 .u-image-1 {
    width: 285px;
    height: 285px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-5 .u-line-1 {
    top: 55px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 113px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1144px;
  }

  .u-section-5 .u-shape-1 {
    height: 390px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -329px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 6rem;
    margin-top: 108px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 591px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 307px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 117px;
    margin-left: 14px;
    margin-right: 14px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 756px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/b1023ec6cc3624ef3d73c104a9a543c441914105e62c0319bbeb255d169a68d5710c195b54cd757dbe7ea698accb88198b5b90ab86332060b445dd_1280.jpg");
  min-height: 657px;
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 657px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 8px 0 0;
}

.u-section-6 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-6 .u-btn-1 {
  width: 100%;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 32px 209px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 29px auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-6 .u-image-1 {
    min-height: 542px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    margin-right: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-6 .u-image-1 {
    min-height: 415px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-6 .u-image-1 {
    min-height: 667px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-6 .u-image-1 {
    min-height: 420px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }
}